# Core
numpy==1.26.4
langchain==0.3.20
langchain-community==0.3.1
flask==3.0.3
sentence-transformers==3.4.1

# CPU
torch==2.2.0
torchvision==0.17.0

# Quantization
bitsandbytes==0.43.1
accelerate==0.30.1
transformers==4.41.2